$background-color: #F4F5F9;

$dark-color: #42567A;
$main-color: #3877EE;

$first-accent-color: #5D5FEF;
$second-accent-color: #EF5DA8;

// BREAKEPOINTS
$tablet: 769px;
$small-tablet: 568px;

