@import "../../../theme/variables.scss";

.years-counter {
  z-index: 90;
  display: flex;
  gap: clamp(30px, 4vw ,96px);

  &__years-value {
    font-size: clamp(56px, 11vw, 200px);
    font-weight: bold;
    line-height: 160px;

    &_start {
      color: $first-accent-color
    }

    &_end {
      color: $second-accent-color
    }
  }
}