@import "../../theme/variables.scss";

.circle-container {
  width: 100%;
  max-width: 530px;
  aspect-ratio: 1/1;
  max-height: 530px;
  display: flex;
}
.circle {
  max-height: 100%;
  aspect-ratio: 1/1;
  border: 1px solid rgba($dark-color, 0.1);
  border-radius: 50%;
  position: relative;

  &__item {
    width: 0px;
    height: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
  }
  
  &__inner {
    position: relative;
    z-index: 999;
  }
}
